.scroll-container {
    overflow: scroll;
    height: 90vh;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(90vh);
}


#padding-gone{
    padding:0;
}

.email {
    max-width: 670px;
}

.field {
    height: 90vh;
    scroll-snap-align: center;    
}

.btn {
    max-width: 115px;
}

.footer {
   position: fixed;
   bottom:0px;
   height: 10vh;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
}