.scroll-container {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
}

.email {
    max-width: 670px;
}

.field {
    height: 100vh;
    scroll-snap-align: center;    
}

.btn {
    max-width: 115px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}